:root {
    --font-heading: 'Montseratt', sans-serif;
    --font-default: 'Poppins', sans-serif;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
    font-family:'Montseratt', sans-serif;
    margin: 50px 0;
}
.img {
    display: flex;
    justify-content: end;
}
.img-hero {
    max-width: 300px;
}
.about {
    text-align: left;
}

.about-container {
    background: #0D0D0D;
    color: whitesmoke;
    padding: 30px 20px;
}

.btn-primary-fill {
    background: #0D0D0D;
    color: whitesmoke;
}

.about-title {
    font-size: 48px;
    text-align: center;
    font-family: var(--font-heading);
    margin-top: 5px;
}
.about-text {
    margin: 50px 0;
}

.about-container {
    margin: 100px 0;
    
}

@media (max-width: 600px) {
    .img {
        justify-content: center;
    }
    .about {
        text-align: center;
    }

    .btn-primary-fill {
        display: block;
        text-align: center;
        margin: 0 20px;
        padding: 15px;

    }
}

/* collection page*/
.collection-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.everydays-collection {
    font-size: 24px;
    text-align: left;
    font-weight: 100;
    line-height: 2;
    margin: 30px 40px 0;
}
.everydays-text-collection {
    text-align: left;
    margin-left: 40px;
    font-family: var(--font-heading);
}

.sweatshirt-collection {
    font-size: 24px;
    text-align: left;
    font-weight: 100;
    line-height: 2;
    margin: 100px 50px 0 40px 
}
.sweatshirts-text-collection {
    text-align: left;
    margin-left: 40px;
    font-family: var(--font-heading);
}

.everydays {
    width: 300px;
}

/* blog */

.title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.description {
    font-size: 16px;
    font-weight: 100;
    text-align: left;
}

.container-content {
    background: #ececec;
    padding: 30px;
    border-radius: 4px;
}
